<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<div layout:fragment="content">

	<!-- ${person.firstName} -->

	<!-- /* Bootstrap Snippet: Login Form - CodePen: https://codepen.io/ace-subido/pen/Cuiep */ -->

	<div class="text-center" style="padding-top: 50px">
		<!-- Daily UI day 1 -->
		<!-- Would potentially make a good modal -->
		<!-- TODO: style error message when required info is left off -->
		<div id="signup">
			<h1>Register!</h1>
			<p>For more content, sign up below!</p>
			<div id="container">
				<form>
					<input type="text" placeholder="Name" name="name" required="">
					</input> <br /> <input type="email" placeholder="Email" name="email"
						required=""> </input> <br /> <input type="submit"> </input>
				</form>
			</div>
		</div>

	</div>

</div>
</html>