<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<div layout:fragment="content">

	<!-- ${person.firstName} -->

	<div class="text-center" style="padding-top: 50px">
		  
		  <div class="wrapper">
		   <div class="text-center" style="padding-top: 50px">
				<h1> Error, credentials you entered are incorrect !</h1>
				
				<div><img src="/images/exceptions/error-page.jpg" height="75%" width="75%" alt="error image" title="error-image" class="error-image" /></div>
				
				<div class="fixed-bottom"><a href="/login/index.html"> Return to Login page </a></div>
			</div>
		  </div>

	</div>

</div>
</html>