<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<div layout:fragment="content">

	<!-- ${person.firstName} -->

	<div class="text-center" style="padding-top: 50px">
		<h1>Welcome !</h1>
		
		<p th:text="'Hello, ' + ${name} + '!'" />

		<p th:text="'Hello, ' + ${fib} + '!'" />

		<p th:text="'Hello, ' + ${fibPathVar} + '!'" />

		<section class="listings">
			<div class="wrapper">
				<ul class="properties_list">
					<li>
						<a href="#"> 
							<img src="/images/property-listings/property_1.jpg" height="42" width="42" alt="" title="" class="property_img" />
						</a> 
						<span class="price">$2500</span>
						<div class="property_details">
							<h1>
								<a href="#">Viager deal - Reverse Annuity Mortgage </a>
							</h1>
							<h2>
								..or Charitable Remainder Trust <span class="property_size"></span>
							</h2>
						</div></li>
					<li>
						<a href="#"> 
							<img src="/images/property-listings/property_2.jpg" height="42" width="42" alt="" title="" class="property_img" />
						</a> 
					<span class="price">$1000</span>
						<div class="property_details">
							<h1>
								<a href="#">Fuisque dictum tortor at purus libero</a>
							</h1>
							<h2>
								2 kitchens, 2 bed, 2 bath... <span class="property_size">(288ftsq)</span>
							</h2>
						</div></li>
					<li>
						<a href="#"> 
							<img src="/images/property-listings/property_3.jpg" height="42" width="42" alt="" title="" class="property_img" />
						</a> 
						<span class="price">$500</span>
						<div class="property_details">
							<h1>
								<a href="#">Viager deal - Reverse Annuity Mortgage </a>
							</h1>
							<h2>
								..or Charitable Remainder Trust <span class="property_size"></span>
							</h2>
						</div></li>
					<li>
						<a href="#"> 
						<img src="/images/property-listings/property_1.jpg" height="42" width="42" alt="" title="" class="property_img" />
						</a> <span class="price">$2500</span>
						<div class="property_details">
							<h1>
								<a href="#">Fuisque dictum tortor at purus libero</a>
							</h1>
							<h2>
								2 kitchens, 2 bed, 2 bath... <span class="property_size">(288ftsq)</span>
							</h2>
						</div></li>
					<li>
						<a href="#"> 
							<img src="/images/property-listings/property_2.jpg" height="42" width="42" alt="" title="" class="property_img" />
						</a> <span class="price">$1000</span>
						<div class="property_details">
							<h1>
								<a href="#">Fuisque dictum tortor at purus libero</a>
							</h1>
							<h2>
								2 kitchens, 2 bed, 2 bath... <span class="property_size">(288ftsq)</span>
							</h2>
						</div></li>
					<li><a href="#"> <img src="/images/property-listings/property_3.jpg" height="42" width="42" alt="" title="" class="property_img"/>
					</a> <span class="price">$500</span>
						<div class="property_details">
							<h1>
								<a href="#">Fuisque dictum tortor at purus libero</a>
							</h1>
							<h2>
								2 kitchens, 2 bed, 2 bath... <span class="property_size">(288ftsq)</span>
							</h2>
						</div></li>
					<li><a href="#"> <img
							src="/images/property-listings/property_1.jpg" height="42" width="42" alt=""
							title="" class="property_img" />
					</a> <span class="price">$2500</span>
						<div class="property_details">
							<h1>
								<a href="#">Fuisque dictum tortor at purus libero</a>
							</h1>
							<h2>
								2 kitchens, 2 bed, 2 bath... <span class="property_size">(288ftsq)</span>
							</h2>
						</div></li>
					<li><a href="#"> <img
							src="/images/property-listings/property_1.jpg" height="42" width="42" alt=""
							title="" class="property_img" />
					</a> <span class="price">$1000</span>
						<div class="property_details">
							<h1>
								<a href="#">Fuisque dictum tortor at purus libero</a>
							</h1>
							<h2>
								2 kitchens, 2 bed, 2 bath... <span class="property_size">(288ftsq)</span>
							</h2>
						</div></li>
					<li><a href="#"> <img
							src="/images/property-listings/property_3.jpg" height="42" width="42" alt=""
							title="" class="property_img" />
					</a> <span class="price">$500</span>
						<div class="property_details">
							<h1>
								<a href="#">Fuisque dictum tortor at purus libero</a>
							</h1>
							<h2>
								2 kitchens, 2 bed, 2 bath... <span class="property_size">(288ftsq)</span>
							</h2>
						</div></li>
				</ul>
				<div class="more_listing">
					<a href="#" class="more_listing_btn">View More Listings</a>
				</div>
			</div>
		</section>
		<!--  end listing section  -->

	</div>

</div>
</html>