<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<div layout:fragment="content">

	<!-- ${person.firstName} -->

	<div class="text-center" style="padding-top: 50px">

		<section class="listings">
			<div class="wrapper" th:object="${photoInformation}" method="get">
				
				<ul class="properties_list">
					
					<li th:each="photoInfo : ${photoInformation}">
						<a href="/house/property.html"> <img th:src="${photoInfo.urlLocation}" height="42" width="42" alt="" title="" class="property_img" /></a> 
						<span class="price">$2500</span>
						<div class="property_details">
							<h1>
								<a href="/house/property.html">Fuisque dictum tortor at
									purus libero </a>
							</h1>
							<h2>
								2 kitchens, 2 bed, 2 bath... <span class="property_size">(288ftsq)</span>
							</h2>
						</div>
					</li>
					
					
					<!-- INSERT HERE -->
					
				</ul>
				<div class="more_listing">
					<a href="#" class="more_listing_btn">View More Listings</a>
				</div>
			</div>
		</section>
		<!--  end listing section  -->

	</div>

</div>
</html>

	<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script> -->
	
	<script type="text/javascript">
	
	    displayWeather();
	
	    function displayWeather() {
	
	        //AJAX call to get users tank coordinates from the database, "ON SUCCESS" we use that data to get the weather for that location
	        jQuery(document).ready(function($) {
	            $.ajax({
	                cache: false,
	                type: "GET",
	                url: "${pageContext.request.contextPath}/house/index",
	                data: {SerialNo: @Model.SerialNo, DeviceNo: @Model.DeviceNo},
	                contentType: "application/json; charset=utf-8",
	                dataType: "json",
	                success: function (data) {
	                    //alert("Success: " + JSON.stringify(data));
	                },
	                failure: function (data) {
	                    alert("Failure: " + data.status);
	                },
	                error: function (data) {
	                    alert("Error: " + data.status);
	                }
	            });
	          });
	
	      }
		
		</script>